body {
    background-color: gainsboro;
    padding-bottom:0;
}

.padrow {
    padding:3%;
}

#homebutton {
    color: white;
    background-color: lightseagreen
}

.headergroup {
    padding-top: 7%;
    padding-bottom: 0;
}

.card {
    padding: 4%
}

.footer p {
    margin-bottom:0;
}

.padme {
    padding: 2% 2% 2% 2%;
}

.container {
    margin: 1% 1% 1% 1%;
}

p {
    font-size: 13px;
}

.abox {
    /* background: whitesmoke; */
    /* margin: 1% */
    column-fill: initial;
}

.card {
    rounded: 0;
}

h2 {
    font-family:  Georgia,Times,"Times New Roman",serif;
    color: lightseagreen;
    font-weight: bold;   
}

h3 {
    font-family:  Georgia,Times,"Times New Roman",serif;
    color: lightseagreen;
    font-weight: bold;   
}

/* .row {
    display: flex;
} */

.stopflex {
    display: flex;
    align-items: flex-start;
 }

.classWithPad { margin:20px; padding:20px; }

.img_float1 {
    float: left;
    margin-right: 1em;
}
$grid-gutter-width: 30px;

