body {
    background-color: gainsboro
}

#homebutton {
    color: white;
    background-color: lightseagreen
}

.padme {
    padding: 3%
}

.abox {
    background: whitesmoke;
}

.row {
    display: flex;
}

.img_float1 {
    float: left;
    margin-right: 1em;
}
$grid-gutter-width: 30px;

