body {
    background-color: gainsboro
}

#homebutton {
    color: white;
    background-color: lightseagreen
}

.padme {
    padding: 3% 3% 3% 3%
}

.abox {
    background: whitesmoke;
    /* margin: 1% */
    column-fill: initial;
}

.lilbox {
    /* height: 250px; */
}

/* .row {
    display: flex;
} */

.stopflex {
    display: flex;
    align-items: flex-start;
 }

.classWithPad { margin:20px; padding:20px; }

.img_float1 {
    float: left;
    margin-right: 1em;
}
$grid-gutter-width: 30px;

